!!!DOCTYPE
%html{ "ng-app" => "stats" }
  %head
    %title Git Stats
    %script{ :src => "/js/vendor/d3.min.js" }
    %script{ :src => "/js/vendor/angular.min.js" }
    %script{ :src => "/js/app/branches.js" }
    %script{ :src => "/js/app/stats.js" }
    %link{ :href => "/css/stats.css", :rel => "stylesheet" }

  %body
    %div{ "ng-view" => "" }
